<div class="welcome">
    <p><em>Welcome! <strong>{{userName}}!</strong></em></p>

    <form>
        <div>
            <label>What`s your name?
                <input type="text" name="unm" [(ngModel)]="userName" />
            </label>
        </div>
        <div>
            <label>Image Width: 
                <input type="range" name="iw" [(ngModel)]="imgWidth" min="100" max="800" />
                <strong> {{imgWidth}} px</strong>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="cb1" [(ngModel)]="centeredFlag" />Align Center
            </label>
            <label>
                <input type="checkbox" name="cb1" [(ngModel)]="roundedFlag" />Apply Round Corners
            </label>
            <label>
                <input type="checkbox" name="cb1" [(ngModel)]="borderedFlag" />Apply border
            </label>
        </div>
    </form>

    <p>
        <img [src]="logo" (click)="toggleImage()"
         [style.width.px]="imgWidth"
         [class.centered]="centeredFlag"
         [class.rounded]="roundedFlag"
         [class.bordered]="borderedFlag" />
    </p>
</div>