.welcome{
    background-color: #f1f23f;
    padding:10px;
}

.welcome img{
    width:250px;
}

.rounded{
    border-radius: 20px;
}

.centered{
    margin:auto;
    display: block;
}

.bordered{
    border: 2.5px solid black;
}