<form class="row border-bottom border-1" (ngSubmit)="formSubmitted()">
    <div class="col-2">
        <input type="number" [(ngModel)]="todo.id" name="id" class="form-control" />
    </div>
    <div class="col">
        <input type="text" [(ngModel)]="todo.task" name="task" class="form-control" />
    </div>
    <div class="col-3">
        <select [(ngModel)]="todo.status" class="form-control" name="status">
            <option value="PENDING">PENDING</option>
            <option value="DONE">DONE</option>
        </select>
    </div>
    <div class="col-3">
        <button class="btn btn-sm btn-primary">ADD</button>
    </div>
</form>